@import './../../../scss/varebles';

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    
     
        .heading{
            font-size: 22px;
            color: $purple;
            text-transform: capitalize;
        }
        .number{
            font-weight: bold;
            font-size: 20px;
        }    
    
}