
@import './../../../scss/varebles';

.form{
    display: block;
}
.wrapper{
    text-align: center;
   
}
.select{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.select__inner{
        width: 200px;
        margin-bottom: 18px;
    }