@import './../../../scss/_varebles';

.input{
    background-color: $purple;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 100px;
    outline: none;
    color: #fff;
    &.focus{
        border-color: rgba($accent, .3) ;
    }
    &.placeholder{
        color: #946e86;
    }
}