@import './../../scss/varebles.scss';

.wrapper{
    padding: 30px;
    margin: 0;
    max-width: 100%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
   height: 100%;
}
.text{
    position: relative;
    right: 15px;
    text-transform: uppercase;
    font-style: 22px;

}
 .otherPage{
        border-radius: 0 0 20px 20px ;
        box-shadow: $bx-accent;
        height: 330px;
    }