.wrapper{
    padding: 30px;
    margin: 0;
    height: 700px;
    width: 100%;
    max-width: 390px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}